<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Book and Review</h1>
    <form action="/new_books" method="POST">
        {% csrf_token %}
    <label for="title">Book Title</label>
    <input type="text" name="title" id="title">
    <label for="new_author">Author</label>
    <input type="text" name="new_author" id="new_author">
    <label for="review_content">Review</label>
    <input type="text" name="review_content" id="review_content">
    <label for="review_rating">Review</label>
    <input type="text" name="review_rating" id="review_rating">

    <input type="submit" value="Add a Book and Review">
    </form>
</body>
</html>