<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books w Reviews</h1>

   

    <table>

        <tbody>
            <tr>
                {% for book in all_book %}
                <td>{{book.id}}</td>
                <td><a href="/individual_book/{{book.id}}">{{book.title}}</a></td>
                <td>{{book.author.name}}</td>
                {{book.reviewed_book.last.reviewer.name}}
                
            </tr>
            {% endfor %}
            
            

    <a href="/user_reviews">View User</a>
</body>
</html>