<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <h1>{{book.author.name}}</h1>

    <h3>Reviews</h3>

    <h4>Add a Review</h4>
    <form action="/add_review" method="POST">
    {% csrf_token %}
    <label for="add_review">Review:</label>
    <input type="text" name="add_review" id="add_review">
    <input type="submit" value="add">
    </form>
</body>
</html>